.header{
    background-color:burlywood;
    text-align: center;
    margin-top: 0px;
    background-image: url('bg.jpg');
}

    h1{
    font-size: 80px;
    text-align: center;
    color: cornsilk;
    background-color: rgba(137, 43, 226, 0.404);
    background-repeat: no-repeat;
    }

.sub-header{
    display:flex;
    justify-content: space-around;
    padding: 10px;
}
a{
    text-decoration: none;
    font-size: 15px;
    background-color: rgba(240, 255, 240, 0.692);
    padding: 10px;
    color: black;
    font-weight: bold;
}

.products
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px;

}

.item
{
    margin: 30px;

}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}